.transfer-history-container {
  margin: 2rem 0;
  text-align: left;
}

.history-title {
  color: #3d454e;
  font-weight: 500;
  margin-bottom: 1.5rem !important;
  font-size: 2rem !important;
}

.history-list {
  padding: 0;
}

.history-item {
  padding: 0.5rem 0 !important;
  display: flex !important;
  align-items: center;
}

.item-number {
  color: #6b7280;
  font-weight: 500;
  margin-right: 1rem;
  flex-shrink: 0;
  width: 20px;
}

.item-text {
  margin: 0;
  color: #4b5563;
}